<div class="centered-content">
    
    <div class="model-box has-background-light">
        <h1>Create new List</h1>
        <div class="field is-grouped">
            <p class="control is-expanded">
              <input #listTitleInput class="input" type="text" placeholder="Find a repository" >
            </p>
            <div class="btn_content">
                <p class="control">
                    <a class="button is-primary has-text-white" (click)="createList(listTitleInput.value)" routerLink="/lists">
                      Create
                    </a>
                  </p>
                  <p class="control">
                      <a class="button " routerLink="/lists">
                        Cancel
                      </a>
                    </p>
            </div>
          </div>
          
    </div>
</div>  

