<div class="centered-content">
  <div class="model-box has-background-light">
    <h1>Create new Task</h1>
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input #taskTitleInput
               class="input"
               type="text"
               placeholder="Find a repository"
               (input)="onInputChange(taskTitleInput.value)">
      </p>
      <div class="btn_content">
        <p class="control">
          <button class="button is-primary has-text-white"
                  (click)="createTask(taskTitleInput.value)"
                  routerLink="/lists"
                  [disabled]="!isCreateButtonEnabled">
            Create
          </button>
        </p>
        <p class="control">
          <a class="button" (click)="backList()">Cancel</a>
        </p>
      </div>
    </div>
  </div>
</div>
