
<div class="centered-content">
    <div class="task-manager-content">
        <div class="sidebar has-backgroup-white">
            <h1 class="title has-text-primary">List</h1>

            <div class="list-menu">
                <a class="list-menu-item" 
                *ngFor="let data of lists,let i =index" 
                [routerLink]="['/lists',data._id]" 
                routerLinkActive="is-active"
                >
                    <p>{{data.title}}</p>       
                </a>
            </div>
            <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>

        </div>

        <div class="tasks-list-container has-backgroup-light">
            <h1 class="title has-text-primary">Tasks</h1>
            <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }" >
                <div class="task-text" >
                    <p>{{ task.title}}</p>
                    
                  </div>
                
            </div>
            <button class="create-task-btn" routerLink="./new-task" ><i class=" icon fa-solid fa-plus"></i></button>
        </div>

        
       
    </div>
</div>
