<div class="centered-content">
    <div class="task-manager-content">
        <div class="sidebar has-backgroup-white">
            <h1 class="title has-text-primary">List</h1>

            <div class="list-menu">
                <ul *ngFor="let data of data_api ,let i = index" class="list-menu-item">
                    <li >
                        {{data.title}}
                        <button (click)="onDeleteListClick()">xoa</button>
                    </li>
                </ul>
                <!-- <a href="" class="list-menu-item is-active">
                    <p>List 1</p>
                </a>
                <a href="" class="list-menu-item">
                    <p>List 1</p>
                </a>
                <a href="" class="list-menu-item">
                    <p>List 1</p>
                </a>
                <a href="" class="list-menu-item">
                    <p>List 1</p>
                </a> -->
            </div>
            <input type="text" name="" id=""  [(ngModel)]="name" >
            <button class="button is-primary has-text-white" (click)="createNewList()">+ New List</button>

        </div>

        <div class="tasks-list-container has-backgroup-light">
            <h1 class="title has-text-primary">Tasks</h1>
            <div class="task">
                <p>This is something I have to do</p>
            </div>
            <div class="task">
                <p>This is something I have to do</p>
            </div>
            <div class="task">
                <p>This is something I have to do</p>
            </div>
            <div class="task complete">
                <p>This is something I have to do</p>
            </div>
        </div>


       
    </div>
</div>
