@import '../../../main-style.scss';
@import '@fortawesome/fontawesome-free/css/all.css';

.task-manager-content{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 600px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: rgb(237, 241, 240);
    padding: 42px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.tasks-list-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: aliceblue;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 42px;
}

.title{
    font-family: 'Lato';
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: aquamarine;
}

.list-menu{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;
    .list-menu-item{
        display: flex;
        align-items: center;
        padding: 10px 15px;
        margin-top: 10px;
        border-radius: 5px;
        width: 100%;
        color: #5f5f5f;
        text-decoration: none;

        &:hover {
            background: $light;
        }

        &.is-active {
            background-color: #27d7a1;
            color: $dark-green;
        }
    }
}

.task{
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;
    &:not(.completed){
        transition: box-shadow 0.2s ease;
        cursor: pointer;

        &:active{
            transform: scale(0.95);
        }
        &:hover{
            box-shadow:  0 0 0 5px #99d3c2;
        }
    }
    &.completed .task-text {
        text-decoration: line-through;
        
        opacity: 0.8;
    }
    &.completed{
        background-color: #27d7a1;
    }


    .task-text {
        display: flex;
        flex-grow: 1;
    }
}

.create-task-btn{
    position: absolute;
    background: $primary;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    border: white;
    cursor: pointer;
}
.icon{
    font-size:20px;
    color: white;
}